*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*Codigo del body */
body{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Raleway', sans-serif;

}

.nav-item .nav-link{
  text-decoration: none;
  color:white;
}
/*Codigo para nav que subraye por donde pasa el cursor*/
/*.nav-item a:hover{
    text-decoration: underline;
    color: white;
}*/


.nav-item a:hover {
  background-color: coral;
  color: #fff;
}

.carousel-inner{
  margin: auto;
display: flex;
/*height: 50%;
width: 50%;*/
align-items: center;

} 
 
.carousel-item .img{
  height: 400px;
  width: 350px;
}

/*footer*/
.footer-cotacto{
  color: #fff;
  text-align: center;
}

.footer-cotacto p{
  color: #fff;
}

.footer-cotacto h3{
  color: #ffff00
}